<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
	</startup>
	<appSettings>
		<add key="TagDatabase" value="TagDatabase.tdb" />
		<add key="DriverDatabase" value="DriverDatabase.ddb" />
		<add key="SecurityDatabase" value="SecurityDatabase.sdb" />
		<add key="DataSourceCfg" value="DataSource.dsf" />
		<add key="AlarmDatabase" value="AlarmDatabase.adb" />
		<add key="Client" value="false" />
	</appSettings>
	<system.web>
		<compilation debug="true" />
	</system.web>
	<system.serviceModel>
		<services>
			<service name="Aimirim.iView.MessageService" behaviorConfiguration="Aimirim.iView.MessageBehavior">
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:8731/Design_Time_Addresses/WCFCallbacks/Message/" />
					</baseAddresses>
				</host>
				<endpoint address="" binding="wsDualHttpBinding" contract="Aimirim.iView.IMessage">
					<identity>
						<dns value="localhost" />
					</identity>
				</endpoint>
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
			</service>
		</services>
		<behaviors>
			<serviceBehaviors>
				<behavior name="Aimirim.iView.MessageBehavior">
					<serviceMetadata httpGetEnabled="True" />
					<serviceDebug includeExceptionDetailInFaults="False" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<bindings>
			<wsDualHttpBinding>
				<binding name="WSDualHttpBinding_IMessage" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true">
					<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
					<reliableSession ordered="true" inactivityTimeout="00:10:00" />
					<security mode="Message">
						<message clientCredentialType="Windows" negotiateServiceCredential="true" algorithmSuite="Default" />
					</security>
				</binding>
			</wsDualHttpBinding>
		</bindings>
		<client>
			<endpoint address="http://localhost:8731/Design_Time_Addresses/WCFCallbacks/Message/" binding="wsDualHttpBinding" bindingConfiguration="WSDualHttpBinding_IMessage" contract="Aimirim.iView.IMessage" name="WSDualHttpBinding_IMessage">
				<identity>
					<dns value="localhost" />
				</identity>
			</endpoint>
		</client>
	</system.serviceModel>
</configuration>